*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

<<<<<<< HEAD
.cardH {
=======
.cardHighlight {
>>>>>>> 8d0bec14ec9944660e941782ae9b2c034495ed51
  max-height: 15%;
}

#brand {
  font-weight: bolder;
  margin-left: 10px;
  font-size: 30px;
}

.logocolor {
  color: #FFD60A;
}

.auth-header {
  font-weight: bolder;
font-size: 50px;
}